.meals {
  width: 60rem;
  max-width: 90%;
  border-radius: 10px;
  margin: auto;
  padding: 1.5rem;
  animation: meals-appear 1s ease-out forwards;
}

.cardMeals {
  background-color: white;
  border-radius: none;
}

ul {
  list-style: none;
  padding: 10px;
  margin: 30px;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
