.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.addBtn {
  background-color: brown;
  color: white;
  width: 6rem;
  height: 2rem;
  border: none;
  border-radius: 18px;
}
.action {
  display: flex;
  justify-content: flex-end;
}

.input input {
  margin-left: 10px;
}
.input label {
  font-size: medium;
  font-weight: bold;
}

.action button:hover {
  background-color: rgb(73, 18, 18);
}
