.mealItem {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem auto;
  align-items: center;
  font-family: Arial;
}
.name,
.description,
.price {
  margin: 0.5rem;
}

.description {
  font-style: italic;
}

.price {
  font-weight: bold;
  
  color: rgb(190, 49, 49);
}
